@import "../../assets/scss/sizes.scss";

.layoutContainer {
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    overflow-y: scroll;
}

.columns {
    flex-grow: 1;
    display: flex;
    flex-flow: column;

    .backdropEnabled {
        height: 100vh;
        position: absolute;
        width: 100%;
        background-color: rgba(103, 102, 102, 0.383);
    }


    .backdropDisabled {
        background-color: inherit !important;
    }

    .content {
        height: calc(100vh - #{$navbar-height});
        margin: 0 auto;
        width: $max-width;
    }
}