@import "../../assets/scss/sizes.scss";

.layoutContainer {
    display: flex;
    flex-flow: row;
    max-height: 100vh;
}

.columns {
    flex-grow: 1;
    display: flex;
    flex-flow: column;

    .backdropEnabled {
        background-color: rgba(103, 102, 102, 0.383);
        height: 100vh;
    }
    .backdropDisabled {
        height: 100vh;
    }
    .content {
        max-height: calc(100vh - #{$navbar-height});
        padding-bottom: 20px;
        overflow-y: scroll;
        margin: 0 auto;
        width: $max-width;
    }
}