.waitingShipmentsPage {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
    padding-top: 30px;
    padding-left: 30px;
}