:root {
  // Primary: 
  --primary-color: #0a8fe7;
  --light-primary-color: #169af1;
  // Secondary: 
  --secondary-color: #fd772a;
  --light-secondary-color: #ff6f1b;
  // Green: 
  --green: #01af3b;
  --green-1: rgb(3, 202, 69);
  // White:   
  --white: #FFFFFF;
  --white-1: #F0F6FF;
  // Gray:   
  --gray: #f0f0f0;
  // Black: 
  --black: #000;
  --black-1: #131212;
  // purple: 
  --purple: #120F1D;
  --purple-1: #1E1B30;
  --red: #f14747;
  }