$extra-small-devices: 575.98px;
$small-devices: 767.98px;
$medium-devices: 991.98px;
$large-devices: 1199.98px;

// Navbar/sidebar
$sidebar-width: 300px;
$navbar-height: 60px;
// Max content width: 
$max-width: 1400px;